repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.4
    hooks:
      - id: ruff
      - id: ruff-format
  - repo: local
    hooks:
      - id: pytest
        name: pytest
        entry: .venv/bin/pytest
        language: script
        pass_filenames: false
        always_run: true
      - id: build-docs
        name: build docs
        entry: uv run sphinx-build -M html docs/source docs/build -q
        language: system
        pass_filenames: false
        always_run: true
        stages: [post-commit]
